{% extends 'base/main.html' %} {% block content %}
<div class="header-bar">
    <h1>Register</h1>

</div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>
            {{form.username.label}}
        </label> {{form.username}}

        <label>
            {{form.password1.label}}
        </label> {{form.password1}}

        <label>
            {{form.password2.label}}
        </label> {{form.password2}}
         <div>Password should contain atleast 8 characters</div>
        <div>Password should not be entirely numeric</div>

        <div>Password cannot be a commonly used password</div>


        <input style="margin-top: 10px;" class="button" type="Submit" value="Register">

    </form>

    <p>Already have an account ? <a href="{% url 'login' %}">Login</a></p>
</div>


{% endblock content %}
